<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

 
  <localRepository>G:/mavenRepository</localRepository>

  <pluginGroups>

  </pluginGroups>

  <proxies>

  </proxies>

  <servers>
    <server>
        <id>oss</id>
        <username>minglie</username>
        <password>Wml184467744%0</password>
    </server>

  </servers>

  <mirrors>
	  <mirror>
			<id>nexus-aliyun</id>
			<mirrorOf>*</mirrorOf>
			<name>Nexus aliyun</name>
			<url>http://maven.aliyun.com/nexus/content/groups/public</url>
		</mirror> 
  </mirrors>


  <profiles>
      <profile>
           <id>release</id>
		        <activation>
             <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>D:/Program Files (x86)/GnuPG/bin/gpg.exe</gpg.executable>
                <gpg.passphrase>panzer91819</gpg.passphrase>
            </properties>
      </profile>
  </profiles>

</settings>
